body {
}
#content
{
   /*background-color: #f2f2f2;*/
   padding: 20px 10px;
   overflow: auto;
   position:relative;
}
#tab-container
{
   /*display: inline-block;*/
   margin: 10px 0 0 0;
   width: 256px;
   position:absolute;
   top:10px;
   left:0px;
}
#tab-container ul
{
   list-style: none;
   text-align: center;
}
#tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 8px solid #666;
   background-color: #ddd;
   margin: 8px 0;
}
#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 15px 5px;
}
#tab-container ul li:hover
{
   /*border-left: 8px solid #333;*/
}
#tab-container ul li a:hover
{
   /*color: #000;*/
}
#tab-container ul li.selected
{
   border-right: none;
   background-color: #fafafa;
   /*border-left: 8px solid #006699;*/
}
#tab-container ul li.notselected
{
   border-right: 1px solid #666;
   background-color: #ddd;
   /*border-left: 8px solid #666;*/
}

#tab-container ul li.complete
{
   border-left: 8px solid #15C23C;
}
#tab-container ul li.partial
{
   border-left: 8px solid #FAD519;
}
#tab-container ul li.blank
{
   border-left: 8px solid #FA193F;
}


#main-container
{
   background-color: #fafafa;
   border: 1px solid #888;
   display:inline-block;
   font-size:1.4em;
   margin: 0 0 0 245px;
   min-height: 500px;
   min-width:700px;
   padding: 20px;
}

#main-container .row{
    margin:0 0 6px 0;
}

#main-container .row label{
    width:110px;
}
#main-container .chkboxRow label{
    width:auto;
}

#main-container .row input[type=text]{
    width:80%;
}
#main-container .engine-row input[type=text]{
    width:30%;
}

#main-container .row input[type=checkbox]{
    width:20px;
    height:20px;
    position:relative;
    top:3px;
    margin-right: 6px;
}

#main-container .row #tblTirePressure{
    border-collapse:separate;
    border-spacing:5px 4px;
}
#main-container .row #tblTirePressure input[type=number],
#main-container .row #tblTirePressure input[type=text]{
    width:3em;
    text-align:center;
}

#main-container .row #tblTirePressure tr:nth-child(2) td{
    height:140px;
}
#main-container .row #tblTirePressure td{
    padding:0;
}
#main-container .row #tblTirePressure td.tire{
    background:url('../img/tire.png') no-repeat center center;
    height:99px;
}

#main-container .row #tblTirePressure td:nth-child(3){
    width:40px;
}

.vertTabs{
    padding-left:0px;
}
.vertTabs li{
    font-size:1.4em;
    border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
}
.vertTabs li a div:first-child{
    font-size:.9em;
    font-weight:bold;
    text-align:right;
}
.vertTabs li a div:last-child{
    font-size:1.2em;
    font-weight:bold;
    color:#111;
    text-align:right;
}

.large-text{
    font-size:3em;
}

.alignCenter{
    text-align:center;
}
#main-container .signature-row,
#main-container .engine-row,
#main-container .issue-row,
#main-container .tire-pressure-row,
#main-container .battery-row,
#main-container .officer-row,
#main-container .date-row{
    border-bottom:1px dotted #666;
    padding-bottom:10px;
    margin-bottom:10px;
}
#main-container .date-row div:first-child{
    float:left;
}
#main-container .date-row div:last-child{
    float:right;
}

#main-container .date-row div span:nth-child(2){
    font-weight:bold;
    margin-left:5px;
}

.warning-msg{
    font-size:.8em;
    border:2px solid #fa8e19;
    padding:5px;
    background-color:#fbc386;
    margin-bottom:10px;
}

.myGrid {
    width: 100%;
    max-height: 250px;
  }