<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Thursday Checkoff</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Theme -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/ui-grid-stable.css" rel="styleSheet" />
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Angular -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.min.js"></script>



    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

    <script src="js/ui-grid-stable.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/main.js"></script>

</head>
<body id="page-top" class="index" ng-app="checkoffApp" ng-controller="AdminController">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Admin</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#logout">Log Out</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    <!-- Header -->
    <!--<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Admin</span>
                        <hr class="star-light">
                        <span class="skills">Administration for Thursday Checkoff.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>-->
    <section id="adminTabs">
        <div>
            <ul ng-init="tab = 1">
                <li ng-class="{active:tab===1}" ng-click="changetab(1)">
                    Checkoffs
                </li>
                <li ng-class="{active:tab===2}" ng-click="changetab(2)">
                    Stations
                </li>
                <li ng-class="{active:tab===3}" ng-click="changetab(3)">
                    Apparatus
                </li>
                <li ng-class="{active:tab===4}" ng-click="changetab(4)">
                    Settings
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="tabHolder">
            <div ng-show="tab === 1"> I eat chocolates, alive! </div>
            <div ng-show="tab === 2">
                <div id="stationsGrid" ui-grid="gridOptionsStationsList" class="stationsListGrid" external-scopes="admin"></div>
            </div>
            <div ng-show="tab === 3">
                <div id="apparatusGrid" ui-grid="gridOptionsApparatusList" class="apparatusListGrid" external-scopes="admin"></div>
            </div>
            <div ng-show="tab === 4"> Settings go here... :D</div>
        </div>
    </section>	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/thursday/js/bootstrap.min.js"></script>
    <script src="/thursday/js/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>
</html>
